* {
font-family: "Arial Hebrew"
Width: 1920px;
padding: 0;
margin: 0;
letter-spacing: 0.22px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
align-items: center;
}

header {
background-color: #0052FF;
color: #FFFFFF;
height: 961px;
}

.analyst {
position: absolute;
right: 0px;
top: 73px;
z-index: 1;
}

.navigation-bar {
display: flex;
justify-content: space-between;
align-items: center;
height: 134px;
margin: 0 360px 0 360px;
}

.logo{
display: flex;
align-items: center;
justify-content: flex-start;
}

.logo img {
opacity: 0.75;
}

.logotext {
margin-left: 12px;
font-size: 20 px;
line-height: 25px;
Width: 112px;
Height: 25px;
letter-spacing: 0.24px;
}

.Main-Navigation ul {
display: flex;
justify-content: space-between;
width: 486px;
height: 25px;
line-height: 25px;
margin-right: 194px;
margin-left: 187px;
}

.Main-Navigation ul li {
list-style: none;
font-size: 18px;
height: 25px;
line-height: 25px;
letter-spacing: 0.216px;
}

.navigation-bar button {
width: 175px;
height: 60px;
border: 1.5px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
background-color: rgba(255, 255, 255, 0);
color: #FFFFFF;
}

.hr {
height: 1px;
opacity: 0.4;
background-color: #FFFFFF;
}

.main-header {
display: flex;
align-items: stretch;
margin-left: 360px;
height: 826px;
}

.left-header {
width: 833px;
}

.right-header {
width: 665px;
display: flex;
align-items: flex-end;
margin-left: 62px;
}

.left-header p{
margin-top: 195px;
color: #FFCF26;
height: 36px;
font-size: 16px;
line-height: 17px;
letter-spacing: 0.192px;
}

.left-header h1 {
margin-top: 17px;
font-size: 64px;
line-height: 68px;
letter-spacing: 0.768px;
Width: 789px;
Height: 154px;
}

.main-left-header {
display: flex;
align-items: center;
margin-top: 40px;
}

.main-left-header button {
font-size: 20px;
line-height: 25px;
letter-spacing: 0.24px;
text-align: center;
color: #000000;
opacity: 0.9;
Width: 386px;
Height: 70px;
background: #FFCF26;
border-radius: 5px;
border: none; 
}

.main-left-header-p{
Width: 408px;
Height: 60px;
margin-left: 39px;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.216px;
color: #FFFFFF;
}

.Revenue {
display: flex;
flex-direction: column;
position: relative;
bottom: 363px;
width: 207px;
height: 207px;
background: #FFFFFF;
box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.07);
border-radius: 10px;
}

.Revenue-img{
display: flex;
justify-content: center;
}

.Revenue-top{
margin: 48px 47px 0 29px;
}

.Revenue-prctg {
margin-left: 12px;
Width: 71px;
Height: 25px;
font-size: 32px;
line-height: 25px;
letter-spacing: 0.384px;
color: #020113;
}

.Revenue-p {
margin: 15px 32.5px 46px 32.5px;
width: 142px;
height: 50px;
letter-spacing: 0.2160000056028366px;
text-align: center;
height: 50px;
left: 2.68%;
right: 1.79%;
top: calc(50% - 50px/2 + 22.5px);
color: #020113;
opacity: 0.55;
}

.Conversions {
display: flex;
flex-direction: column;
position: relative;
bottom: 506px;
margin-left: 30px;
width: 171px;
height: 171px;
background: #FFFFFF;
box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.07);
border-radius: 10px;
}

.Conversions-img{
margin: 38px 104px 0 33px;
}

.Conversions-p {
height: 50px;
width: 107px;
text-align: center;
letter-spacing: 0.2160000056028366px;
color: #020113;
opacity: 55.3%;
margin: 83px 31px 38  35px;
height: 50px;
left: 2.68%;
right: 1.79%;
top: calc(50% - 50px/2 + 22.5px);
}

.logos {
position: relative;
bottom: 90px;
display: flex;
justify-content: space-evenly;
align-items: center;
background: #ffffff;
margin: 0 360px 0 360px;
width: 1200px;
height: 180px;
box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.07);
border-radius: 10px;
}

.logos-imgs {
opacity: 0.6;
}

.saas {
display: flex;
align-items: flex-start;
background-color: #F2F2F2;
height: 1481px;
}

.saas-left{
margin-left: -31px;
}

.saas-right h2 {
margin-left: 102px;
margin-top: 230px;
height: 154px;
width: 483px;
font-size: 42px;
line-height: 45px;
letter-spacing: 0.504px;
color: #020113;
}

.saas-right ul {
margin-left: 102px;
margin-top: 37px;
}

.saas-right li {
height: 56px;
width: 301px;
list-style-image: url(/images/checked-circle.png);
list-style-position: inside;
font-size: 18px;
line-height: 56px;
letter-spacing: 0.216px;
color: #020113;
}

.saas-right button {
margin-left: 102px;
margin-top: 38px;
width: 175px;
height: 60px;
background: #FFCF26;
border-radius: 5px;
font-size: 18px;
line-height: 25px;
align-items: center;
letter-spacing: 0.216px;
color: #000000;
opacity: 0.9;
border: none;
}

.reviews {
margin-left: 360px;
position: absolute;
top: 1982px;
}

.reviews h2{
height: 56px;
width: 826px;
font-size: 42px;
line-height: 45px;
align-items: center;
letter-spacing: 0.504px;
color: #020113;
}

.reviews-top {
display: flex;
justify-content: space-between;
align-items: center;
}

.lr-btn {
display: flex;
justify-content: space-between;
width: 117px;
height: 51px;
margin-right: 360px;
}

.cards {
width: 1610px;
margin-top: 68px;
display: flex;
justify-content: space-between;
overflow: hidden;
}

.card {
height: 427px;
width: 380px;
border-radius: 5px;
background: #FFFFFF;
box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.07);
}

.card-p {
margin: 0px 46px 0 45px;
height: 213px;
width: 289px;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.216px;
color: #020113;
}

.stars {
margin: 50px 317px 36px 45px;
}

.card-bottom {
margin: -5px 45px 45px 46px;
display: flex;
align-items: center;
}

.card-name p {
height: 65px;
width: 200px;
font-size: 18px;
line-height: 24px;
align-items: center;
letter-spacing: 0.216px;
color: #020113;
}

.card-name {
margin-left: 19px;
display: flex;
flex-direction: column;
}

.reviews-analysis {
display: flex;
align-items: center;
}

.reviews-analysis-1 {
margin-left: 102px;
display: flex;
}

.reviews-analysis-1-p {
width: 245px;
height: 56px;
font-size: 19px;
line-height: 56px;
letter-spacing: 0.228px;
color: #020113;
margin-left: 20px;
opacity: 0.85;
}

.reviews-analysis-2 {
display: flex;
margin-left: 10px;
}

.reviews-analysis-2-p {
width: 347px;
height: 56px;
font-size: 19px;
line-height: 56px;
letter-spacing: 0.228px;
color: #020113;
margin-left: 20px;
opacity: 0.85;
}

.laptop {
background: #EAEFF5;
height: 1107px;
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.laptop-left {
margin-left: 360px;
}

.laptop-right {
margin-top: 317px;
}

.laptop-left h2 {
margin-top: 397px;
height: 285px;
width: 589px;
font-size: 42px;
line-height: 45px;
letter-spacing: 0.504px;
color: #020113;
}

.laptop-left-p1 {
margin-top: -108px;
height: 84px;
width: 625px;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.216px;
color: #020113;
}

.laptop-left-p2 {
margin-top: 22px;
height: 56px;
width: 625px;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.216px;
color: #020113;
}

.laptop-left button {
margin-top: 38px;
background-color: #FFCF26;
height: 60px;
width: 175px;
border-radius: 5px;
border: none;
font-size: 18px;
line-height: 25px;
align-items: center;
letter-spacing: 0.216px;
color: #000000;
opacity: 0.9;
}

.Browsres {
display: flex;
flex-direction: column;
align-items: center ;
}

.Browsres h2 {
margin-top: 139px;
height: 102px;
width: 775px;
font-size: 42px;
line-height: 45px;
text-align: center;
letter-spacing: 0.504px;
color: #020113;
}

.Browsres p {
margin: 24px 0 45px 0;
height: 84px;
width: 625px;
font-size: 18px;
line-height: 28px;
text-align: center;
letter-spacing: 0.216px;
color: #020113;
}

.websites {
background-color: #ECF0F6;
display: flex;
justify-content: space-between;
}

.websites-right {
margin-right: 501px;
height: 664px;
}

.websites-left {
height: 664px;
margin-left: 360px;
display: flex;
flex-direction: column;
}

.orion-list-top {
margin-top: 152px;
display: flex;
justify-content: space-between;
width: 380px;
height: 217px;
}

.orion-list-bottom {
margin-top: -11px;
display: flex;
align-content: flex-end;
justify-content: space-between;
width: 380px;
height: 217px;
}

.orion-list {
display: flex;
flex-direction: column;
align-content: center;
}

.orion-list p {
margin-top: 14px;
height: 108px;
width: 175px;
font-size: 19px;
line-height: 27px;
text-align: center;
letter-spacing: 0.228px;
color: #020113;
}

.orion-list-img {
position: relative;
}

.oval-1 {
position: absolute;
top: 22px;
right: 22px;
bottom: 22px;
left: 22px;
}

.oval-2 {
position: absolute;
top: 22px;
right: 24px;
bottom: 22px;
left: 24px;
}

.oval-3 {
position: absolute;
top: 22px;
right: 29.8px;
bottom: 21px;
left: 30px;
}

.oval-4 {
position: absolute;
top: 24px;
right: 23px;
bottom: 23px;
left: 24px;
}

.websites-right h2 {
margin-top: 156px;
height: 153px;
width: 589px;
font-size: 42px;
line-height: 45px;
letter-spacing: 0.504px;
color: #020113;
font-weight: bold;
}

.websites-right p {
margin-top: 23px;
width: 589px;
height: 84px;
font-family: Arial Hebrew;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.216px;
color: #020113;
}

.websites-right button {
margin-top: 38px;
background: #FFCF26;
border-radius: 5px;
height: 60px;
width: 175px;
border: none;
font-size: 18px;
line-height: 25px;
align-items: center;
letter-spacing: 0.216px;
color: #000000;
opacity: 0.9;
font-weight: bold;
}

.blogs {
background-color: #0557FF;
height: 745px;
display: flex;
flex-direction: column;
}

.blogs-title h2 {
margin-top: 132px;
height: 84px;
width: 589px;
font-size: 42px;
line-height: 45px;
text-align: center;
letter-spacing: 0.504px;
color: #FFFFFF;
}

.blog-cards{
display: flex;
margin-top: 37px;
justify-content: space-between;
width: 1202px;
}

.blog-card {
height: 343px;
width: 278px;
left: 0px;
top: 0px;
border-radius: 5px;
background-color: white;
}

.blog-card-p {
height: 78px;
width: 211px;
margin: 20px 37px 0 30px;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.216px;
color: #020113;
}

.blog-days {
display: flex;
align-items: center;
margin-left: 30px;
margin-bottom: 29px;
}

.blog-days-p {
margin-left: 8px;
/* margin-top: 0px; */
height: 32px;
width: 81px;
font-size: 13px;
line-height: 32px;
letter-spacing: 0.156px;
color: #000000;
opacity: 0.8;
}

.consultation {
background-color: #F5F7FA;
height: 797px;
}

.consultation-left-1 {
position: absolute;
top: 5871px;
/* z-index: -1; */
}

.consultation-left-2 {
position: absolute;
left: 125px;
top: 6449px;
}

.consultation-left-3 {
position: absolute;
left: 358px;
top: 6139px;
}

.consultation-right-1 {
position: absolute;
left: 1297px;
top: 5884px;
/* z-index: -1; */
}

.consultation-right-2 {
position: absolute;
left: 1435px;
top: 6509px;
}

.consultation-right-3 {
position: absolute;
left: 1736px;
top: 6231px;
}

.consultation-center {
height: 647px;
width: 589px;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 666px;
}

.consultation-center-Revenue {
background-color: #ffffff;
height: 187px;
width: 207px;
border-radius: 10px;
margin-top: 150px;
}

.consultation-center-Revenue-top {
display: flex;
margin: 38px 0 15px 29px;
}

.consultation-center h3{
height: 25px;
width: 71px;
font-size: 32px;
line-height: 25px;
letter-spacing: 0.384px;
color: #020113;
margin-left: 12px;
}

.consultation-center p {
height: 50px;
width: 132px;
margin-left: 37.5px;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 0.216px;
color: #020113;
mix-blend-mode: normal;
opacity: 0.55;
}

.consultation-center h2 {
margin-top: 43px;
height: 153px;
width: 589px;
font-size: 42px;
line-height: 45px;
text-align: center;
letter-spacing: 0.504px;
color: #020113;
}

.consultation-center button{
margin-top: 44px;
height: 70px;
width: 386px;
border-radius: 5px;
background-color: #FFCF26;
border: none;
font-size: 20px;
line-height: 25px;
align-items: center;
letter-spacing: 0.24px;
color: #000000;
mix-blend-mode: normal;
opacity: 0.9;
}

.dots-header {
position: absolute;
left: -193px;
top: 612px;
/* z-index: -1; */
}

.dots-saas-1 {
position: absolute;
left: 1744px;
top: 1247px;
/* z-index: -1; */
}

.dots-saas-2 {
position: absolute;
left: 516px;
top: 1759px;
/* z-index: -1; */
}

.dots-laptop {
position: absolute;
left: 824px;
top: 3288px;
/* z-index: -1; */
}

.dots-browsers {
position: absolute;
left: 193px;
top: 3978px;
/* z-index: -1; */
}

.dots-blogs {
position: absolute;
left: 905px;
top: 5739px;
/* z-index: -1; */
}

.dots-consultation {
position: absolute;
left: 592px;
top: 6281px;
/* z-index: -1; */
}

footer {
background-color: #111111;
height: 486px;
font-size: 18px;
line-height: 34px;
letter-spacing: 0.216px;
color: #FFFFFF;
mix-blend-mode: normal;
}

.main-footer {
display: flex;
align-items: flex-start;
}

.main-footer-left {
margin: 67px 0 0 360px;
height: 142px;
width: 380px;
}

.main-footer-left p {
height: 84px;
width: 380px;
margin-top: 19px;
line-height: 28px;
opacity: 0.5;
}

.main-footer-center {
margin-left: 132px;
}

.main-footer-center p {
margin-top: 74px;
color: #FFFFFF;
line-height: 25px;
}

.main-footer-center ul {
margin-bottom: 70px;
list-style: none;
margin-top: 23px;
height: 170px;
width: 206px;
opacity: 0.5;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}

.main-footer-right {
margin-left: 103px;
}

.main-footer-right p {
margin-top: 74px;
line-height: 25px;
}

.main-footer-right ul {
list-style: none;
margin-top: 23px;
height: 136px;
width: 158px;
opacity: 0.5;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}

.bottom-footer {
display: flex;
justify-content: space-between;
align-content: center;
margin: 44px 360px 45px 360px;
}

.bottom-footer a {
text-decoration: none;
color: #ffffff;
opacity: 0.5;
}

.tpl {
height: 34px;
width: 242px;
display: flex;
flex-direction: row;
justify-content: space-between;
}